<!-- views/partials/posts-form.handlebars -->

<!-- TITLE -->
<p>
  <label for="title">Title</label><br>
  <input type="text" name="title" value="{{post.title}}"/>
</p>

<!-- CONTENT -->
<p>
  <label for="content">Content</label><br>
  <input type="text" name="content" value="{{post.content}}" />
</p>

<!-- BUTTON -->
<p>
  <button type="submit">Save Post</button>
  <button onclick="location.href'/';">Cancel</button>
</p>
